*.swp
*~
*.pyc
kss-chrome.crx
kss-chrome.pem
package_extension.sh
server/node_modules/
server/yuze.no-ip.org.key
server/yuze.no-ip.org.csr
server/yuze.no-ip.org.crt
mturk/settings.*
mturk/data/*
mturk/plots/*
mturk/analyze.sh
